
<h5 class="white-text" >Agregar Disco <span class="grey-text " style="font-size:15px">{{banda.nombre|title}}</span></h5>
<ul class="collection">
	<li class="collection-item grey lighten-4 grey-text text-darken-2">
		<h5>Datos del disco</h5>
		<form id="add_disco" >
			<input type="hidden" name="bid" value="{{banda.id}}">
			<div class="input-field col s6 w60p">
          		<input id="name" name="nombre" type="text" class="validate">
          		<label for="name">Nombre del Disco</label>
        	</div>
			<div class="input-field col s6 w60p">
          		<input id="year" name="lanzamiento" type="number"  class="validate datepicker" value="{{year}}" min="1960" max="{{year}}">
          		<label for="year" class="active">Lanzamiento</label>
        	</div>
		</form>
	</li>
	<li class="collection-item grey lighten-4 grey-text hover-grey no-select manito text-darken-2 addTrigger">
		<div class="valign-wrapper left" style="margin-right:20px;" ><i class="material-icons grey darken-3 white-text" style="padding:8px;">&#xE147;</i></div>
		Añadir Canción<br><span class="stext grey-text"> &nbsp; </span>
		{#<span class="secondary-content">-</span>#}
	</li>
	<li class="collection-item green darken-1 white-text center-align no-select manito text-darken-2" onclick="disco_send();">
		<h5>Añadir Canción</h5>	
	</li>
</ul>

<script type="text/javascript">
var counter=0;
$('.addTrigger').click(function(){
	$(this).before(songGen());
	
});
function songGen(){
	var t1 = '<li class="collection-item song grey lighten-4 grey-text text-darken-2">'+
	'<div class="valign-wrapper left" style="margin-right:20px;" ><i class="material-icons blue darken-3 white-text" style="padding:8px;">&#xE405;</i></div>'+
    '<div class="input-field col s6 w60p inline" style="margin-top:10px">'+
	'<input id="nameSong'+(++counter)+'" name="nombre" type="text" class="validate">'+
	'<label for="nameSong'+(++counter)+'">Nombre de Canción</label>'+
	'</div>'+
	'<br>'+
	'<div class="input-field col s6 w60p inline" style="margin-top:10px;">'+
	'<input id="nameSong'+(++counter)+'" name="autor" type="text" class="validate" style="font-size:12px;height:2.5em;">'+
	'<label for="nameSong'+(++counter)+'">Autor</label>'+
	'</div>'+
	'<div class="input-field secondary-content col s6 inline" style="margin-top:10px; width:80px;">'+
	'<input id="duracion'+(++counter)+'" type="time" name="duracion" class="validate" value="00:00" style="font-size:12px;height:2.5em;">'+
	'<label for="duracion'+(++counter)+'" style="transform:translateY(-140%);font-size: 0.8rem;">Duración</label>'+
	'</div>'+
	'</li>';
	return t1;
}
function disco_send(){
	var nombre = $('#add_disco  input[name=nombre]').val();
	var lanzamiento = $('#add_disco  input[name=lanzamiento]').val();
	var cancionN = $('.song input[name=nombre]');
	var cancionA = $('.song input[name=autor]');
	var cancionD = $('.song input[name=duracion]');
	var canciones='[';
	cancionN.each(function (k,v){
		canciones += '{"nombre":"'+$(v).val()+'","autor":"'+$(cancionA[k]).val()+'","duracion":"'+$(cancionD[k]).val()+'"},';
	});
	 canciones = canciones.substring(0, canciones.length-1)+']';
	console.log(canciones);
	$.ajax({
		url : "/crearDisco", // the endpoint
		type : "POST", // http method
		
		data : {bid : $('.container.sfull').attr('id-banda'),
				nombre : nombre,
				lanzamiento : lanzamiento,
				'cancion':canciones, }, // data sent with the post request
		// handle a successful response
		success : function(response) {
			console.log(response); // log the returned json to the console
			var id = response.split(',');
			if(id[0]=="k"){
				Materialize.toast('<span class="green-text"><i class="material-icons">&#xE5CA;</i></span>Disco agregado', 4000);
				var d = discoGen(id[1],nombre,lanzamiento);
				console.log(d);
				$(d).insertAfter( ".disco:last" );
				//$('.no-hay-material').remove();
				$('#modalDisco').closeModal();
				$('.disco:last').click(function(){
					console.log("disco id:"+$(this).attr('data-dId'));
					$('#modalDisco').openModal();
					var modal = $('#modalDisco .modal-content')
					$.get("/infoDiscoE/"+$(this).attr('data-dId'),function(data){
							modal.html("")
							modal.html(data)
					}).fail(function() {
							console.error( "error" );
					})
				});
			}
			else
				respuestaInstatisfactoria(response);
		},
		// handle a non-successful response
		error : function(xhr,errmsg,err) {
			console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
		}
	});
}
function discoGen(did,nombre,lanzamiento){
	var l1 = '<li id="dis'+did+'" class="collection-item disco valign-wrapper manito"  data-dId="'+did+'">';
	var l2 = '<i class="material-icons orange darken-3 white-text" style="padding:3px;font-size:40px">&#xE019;</i>';
	var l3 = '<span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">'+nombre+'</span>';
	var l4 = '<span class="secondary-content stext cyan-text text-darken-4">'+lanzamiento+'</span>';
	var l4_5 = '<span class="right white red-text text-darken-2 valign-wrapper tooltipped" data-position="right" data-tooltip="quitar Disco" style="height:46px" onclick="removeDisco('+did+')"><i class="material-icons">remove_circle</i></span> ';
	var l5 = '</li>';
	return l1+l2+l3+l4+l4_5+l5;
}

</script>