<h5 class="white-text">{{disco.banda}}</h5>
<h5 class="white-text" style="margin-left:20px">{{disco.nombre|title}} <span class="grey-text " style="font-size:15px">{{disco.lanzamiento.year}}</span></h5>
<ul class="collection" style="margin-bottom:50px;">
{%for c in canciones%}
	<li class="collection-item ">
		
		<div class="valign-wrapper left" style="margin-right:20px;" ><i class="material-icons blue darken-3 white-text" style="padding:8px;">&#xE405;</i></div>
		{{c.nombre|title}}<br><span class="stext grey-text">{{c.autor}}</span>
		<span class="right white red-text text-darken-2 valign-wrapper" style="height:10px" onclick="removeCancion({{c.id}})"><i class="material-icons">remove_circle</i></span>
		<span class="secondary-content">{{c.duracion}}</span>
	</li>
{%endfor%}
	<li class="collection-item grey lighten-4 grey-text hover-grey no-select manito text-darken-2 addTrigger">
		<div class="valign-wrapper left" style="margin-right:20px;" ><i class="material-icons grey darken-3 white-text" style="padding:8px;">&#xE147;</i></div>
		Añadir Canción<br><span class="stext grey-text"> &nbsp; </span>
	</li>
	<li class="collection-item green darken-1 white-text center-align no-select manito text-darken-2 hide tougle" onclick="disco_send();">
		<h5>Añadir Canción</h5>	
	</li>
</ul>
<script type="text/javascript">
var counter=0;
$('.addTrigger').click(function(){
	$(this).before(songGen());
	$('.hide.tougle').removeClass('hide');
});
function songGen(){
	var t1 = '<li class="collection-item song grey lighten-4 grey-text text-darken-2">'+
	'<div class="valign-wrapper left" style="margin-right:20px;" ><i class="material-icons blue darken-3 white-text" style="padding:8px;">&#xE405;</i></div>'+
    '<div class="input-field col s6 w60p inline" style="margin-top:10px">'+
	'<input id="nameSong'+(++counter)+'" name="nombre" type="text" class="validate">'+
	'<label for="nameSong'+(++counter)+'">Nombre de Canción</label>'+
	'</div>'+
	'<br>'+
	'<div class="input-field col s6 w60p inline" style="margin-top:10px;">'+
	'<input id="nameSong'+(++counter)+'" name="autor" type="text" class="validate" style="font-size:12px;height:2.5em;">'+
	'<label for="nameSong'+(++counter)+'">Autor</label>'+
	'</div>'+
	'<div class="input-field secondary-content col s6 inline" style="margin-top:10px; width:80px;">'+
	'<input id="duracion'+(++counter)+'" type="time" name="duracion" class="validate" value="00:00" style="font-size:12px;height:2.5em;">'+
	'<label for="duracion'+(++counter)+'" style="transform:translateY(-140%);font-size: 0.8rem;">Duración</label>'+
	'</div>'+
	'</li>';
	return t1;
}
function disco_send(){
	var cancionN = $('.song input[name=nombre]');
	var cancionA = $('.song input[name=autor]');
	var cancionD = $('.song input[name=duracion]');
	var canciones='[';
	cancionN.each(function (k,v){
		canciones += '{"nombre":"'+$(v).val()+'","autor":"'+$(cancionA[k]).val()+'","duracion":"'+$(cancionD[k]).val()+'"},';
	});
	 canciones = canciones.substring(0, canciones.length-1)+']';
	console.log(canciones);
	$.ajax({
		url : "/crearCancion", // the endpoint
		type : "POST", // http method
		
		data : {bid : $('.container.sfull').attr('id-banda'),
				did : '{{disco.id}}',
				'cancion':canciones, }, // data sent with the post request
		// handle a successful response
		success : function(response) {
			console.log(response); // log the returned json to the console
			var id = response.split(',');
			if(id[0]=="k"){
				Materialize.toast('<span class="green-text"><i class="material-icons">&#xE5CA;</i></span>Canci&oacute;n agregada', 4000);
				
				//$('.no-hay-material').remove();
				$('#modalDisco').closeModal();
			}
			else
				respuestaInstatisfactoria(response);
		},
		// handle a non-successful response
		error : function(xhr,errmsg,err) {
			console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
		}
	});
}
function removeCancion(cId,confirmado){
	if(confirmado){
		
		$('.rem-confirm').remove();
		bid= $('.container.sfull').attr('id-banda');
		$.ajax({
			url: "/guardarDatosBanda",
			type: 'POST',
			data: {
				bid:bid,
				target:'cancion-delete',
				dato:cId,
			},
			success: function (data) {
				var id = data.split(',');
				if(id[0]=="k"){
					Materialize.toast('<span class="green-text"><i class="material-icons">&#xE5CA;</i></span>'+id[1], 4000);
					$('#modalDisco').closeModal();		
				}else
					respuestaInstatisfactoria(data);
			},
			error: function (data) {
				Materialize.toast('<span class="red-text"><i class="material-icons">&#xE14C;</i></span>Error al quitar el material', 4000);
			},
		});
	}else{
		Materialize.toast('<span class="yellow-text"><i class="material-icons">&#xE002;</i></span>¿Estás seguro que deseas quitar el material?<a style="margin-left:10px;" href="#" onclick="removeCancion('+cId+',true);"><b>SI</b></a>', 10000,"rem-confirm");
	}
}
</script>