{% extends "app/layout.html" %}

{% block sidebar %}
    {% if tipoUsuario == 1  %}
        {% include "app/sidebarartistapartial.html" %}
    {% elif tipoUsuario == 2 %}
        {% include "app/sidebarnormalpartial.html" %}
    {% endif%}
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <br><br>
            <h4>CREANDO EVENTO</h4> 
            <div class="input-field col s8">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">> Nombre del evento <</label>         
            </div>
            <div class="input-field col s1">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">DD</label>
            </div>
            <div class="input-field col s1">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">HH</label>
            </div>
            <div class="input-field col s1">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">MM</label>
            </div>
            <div class="input-field col s1">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">SS</label>
            </div>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Información</label>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <h6 class="right-align">Fecha - Hora - Lugar</h6>
        </div>


        <div class="row">               
            <div class="input-field col s12">
                <div class="input-field col s6">
                    <h5>Bandas participantes</h5>
                    <ul class="collection">
                          <a href="#!"  class="collection-item avatar">
                          <div class="circle avatar-img dropdown-button"><img src="/media/app/static/app/images/guitarra.jpg" alt="" style="height:50px;"></div>
                          <span class="title left-align"><br>Los zolezzi</span>
                        </a>

                        <a href="#!"  class="collection-item avatar">
                          <div class="circle avatar-img dropdown-button"><img src="/media/app/static/app/images/guitarra.jpg" alt="" style="height:50px;"></div>
                          <span class="title left-align"><br>Elefantes Felices</span>
                        </a>

                        <a href="#!"  class="collection-item avatar">
                          <div class="circle avatar-img dropdown-button"><img src="/media/app/static/app/images/guitarra.jpg" alt="" style="height:50px;"></div>
                          <span class="title left-align"><br>Terminator 3</span>
                        </a>
                    </ul>
                </div>  
                <!-- http://embedgooglemaps.com/?page_id=77&lang=es  es para generar este codigo-->
                 <div class="input-field col s6">
                       <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="470" height="400" src="https://maps.google.com/maps?hl=en&q=Universidad de Santiago de Chile Av. Libertador Bernardo O`Higgins 3363 Santiago Región Metropolitana&ie=UTF8&t=m&z=15&iwloc=B&output=embed"><div><small><a href="http://www.embedgooglemaps.com/?page_id=77&lang=es">embedgooglemaps.com</a></small></div><div><small><a href="http://www.embedgooglemaps.com/?page_id=77&lang=es">Generere e inserte Google Maps aqui</a></small></div></iframe>
                </div>  

            </div>
        </div>






    </div>


{% endblock %}
{% block scripts %}


{% endblock %}