{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>UMusic</h1>
    <p class="lead">Version en desarrollo del sistema para presentacion.</p>
    <p><a href="{% url 'registro' %}" class="btn btn-primary btn-large">Vista de muestra &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home</h2>
        <p>
            Vista inicial --en desarrollo--.
        </p>
        <p><a class="btn btn-default" href="{% url 'home' %}">Home &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Musicos</h2>
        <p>Se visualizan los musicos y sus bandas.</p>
        <p><a class="btn btn-default" href="{% url 'musicos' %}">Musicos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registro</h2>
        <p>Se implementa el caso de uso registrar usuario.</p>
        <p><a class="btn btn-default" href="{% url 'registro' %}">Registro &raquo;</a></p>
    </div>
</div>

{% endblock %}
