<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - uMusic</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/materialize.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    
    <!--div class="navbar container wide" style="position:fixed;top:0;">
       	<div class="row color-333">
            <div class="col left w200px">
                
                <a class="b-logo" href="{% url 'home' %}">
                    <img alt="Brand" class="logo-img" src="{% static 'app/images/logo.png' %}">
                </a>&nbsp;
            </div>
            <div class="w100p right ">
                <div class="col search-cont nav-wrapper hide-on-small-only">
                    <form>
                        <div class="input-field s6">
                          <i class="material-icons prefix">search</i>
                          <input id="icon_prefix" type="text" name="Q" class="validate">
                        </div>
                      </form>
                    
                </div>
                {# Para cambiar el texto de login logout y el nombre que se muestra ir al template loginpartial.html #}
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div-->
    <div class="navbar container wide" style="position:fixed;top:0;">
       	<div class="row color-333">
            <div class="col left w200px">
                
                <a class="b-logo" href="./Pagina Principal Artista - uMusic_files/Pagina Principal Artista - uMusic.html">
                    <img alt="Brand" class="logo-img" src="{% static 'app/images/logo.png' %}">
                </a>&nbsp;
            </div>
           
            <div class="container right" style="width: calc(100% - 220px);height: 80px;"> 
                <div class="row">
                
                <div class="col dropdown-button right grey-text text-lighten-2 valign-wrapper" data-activates='dropdown1'  style="max-width:100% ">
                    <div class="truncate" >{{ user.first_name }}</div>
                    <div class="circle avatar-img dropdown-button" data-activates='dropdown1'><img src="{% static 'app/images/logo.png' %}" alt="" style="height:50px;"></div>
                </div>
                <ul id='dropdown1' class='grey darken-3 dropdown-content' >
                        <li><a href="#!" class="button-collapse hide-on-med-and-up" data-activates="mobile-demo"><i class="material-icons">menu</i> Sidebar</a></li>
                        <li><a href="#!">Configuraciones</a></li>
                        <li class="divider"></li>
                        <li>
                            <form id="logoutForm" action="/logout" method="post" class="navbar-right">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesion</a>
                            </form>
                        </li>
                    </ul>
                <script type="text/javascript">$('.dropdown-button').dropdown({
                      inDuration: 300,
                      outDuration: 225,
                      constrain_width: false, // Does not change width of dropdown to that of the activator
                      hover: true, // Activate on hover
                      gutter: 0, // Spacing from edge
                      belowOrigin: false // Displays dropdown below the button
                    }
                  );</script>

                </div>
            </div>
            
            </div>
        </div>
    </div>
        
{% block leftbar %}{%  endblock  %} 
    <div class="container body-content" style="margin-top: 80px;margin-left:230px;">

{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Fingeso Grupo 3</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/materialize.min.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
