{% extends "app/login-layout.html" %}
{% block tabs %}
    <div class="col s6" style="color:#00bcd4; border-bottom:4px solid #00bcd4 !important; ">Iniciar Sesión</div>
    <a style="color:#00bcd4;" href="/registro"><div class="col s6 hover-underline">Registrarse</div></a>
    
{% endblock %}
{% block formulario %}

<div id="login" class="col s12" style="margin-top:30px">
    <form action="." method="post" class="form-horizontal">
    {% csrf_token %}
        <div class="form-group">
            <div class="col s12 input-field">
                {{ form.username }}
                <label for="id_username" class="active">Correo</label>
            </div>
        </div>
    {# Para editar el hint de los inputs, ir a forms.py en el cuerpo de la funcion estan los parametros#}
    <div class="form-group">
        <div class="input-field col s12">
            {{ form.password }}
            <label class="active" for="contras">Contraseña</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col s12">
            <input type="hidden" name="next" value="/" />
            <input type="submit" value="Ingresar" class="btn btn-default color-principal" />
        </div>
    </div>
    {% if form.errors %}
    <p class="validation-summary-errors col s12">Los datos ingresados son incorrectos.</p>
    {% endif %}
    </form>
</div>
{% endblock %}