{% extends "app/layout.html" %}

{% block sidebar %}
    {% include "app/sidebarartistapartial.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        
        <div class="col l6  s12">
            <div class="card-panel grey lighten-4">
                <h4>Actividad reciente</h4>
                <span class="grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
                <ul class="collection">
                    
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <div class="secondary-content grey-text small">19-08-2015 12:15</div>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <div class="secondary-content grey-text small">19-08-2015 12:15</div>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                      <div class="secondary-content grey-text small">19-08-2015 12:15</div>
                    </li>
                </ul>




            </div>
        </div>
        <div class="col l6 s12">
            <h4>Mis bandas</h4>
            <div class="collection with-header z-depth-1">
                <div class="collection-header color-principal lighten-1" >
                    <div class="container" style="width:100%;padding:0">
                        <div class="row" style="margin-bottom:0;">
                            <div class="col offset-s2 s5">
                                <b>Nombre Banda</b>
                            </div>
                            <div class="col s5">
                                <b>Rol</b>
                            </div>
                        </div>
                    </div>
                </div>
                {% for banda in bandas %}
                <a href="/perfilBandaNp/{{banda.banda.id}}" class="collection-item" style="padding:0px 15px">
                    <div class="container" style="width:100%;padding:0">
                        <div class="row valign-wrapper" style="margin-bottom:0;">
                            <div class="col s2">
                                <div class="circle avatar-img">
                                    <img src="{{banda.banda.imagenPerfil.url}}" style="height:50px;">
                                </div>
                            </div>
                            <div class="col offset-1 s5 grey-text text-darken-2" style="margin-left:10px">
                            {{banda.banda.nombre}}
                            </div>
                            <div class="col s4 grey-text text-darken-2">
                            {{banda.ocupacion}}
                            </div>
                        </div>
                    </div>
                 </a>
                 {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

