{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h2>Visitas: {{visitas}}</h2>
 <!-- Para cada music en la base de datos -->
{% for musico in musicos.all %}
<details>
    <summary>{{musico.nombre}}</summary>
    <table>
      <tr>
        <th scope="row">Nombre</th>
        <td>{{musico.nombre}}</td>
      </tr>
      <tr>
        <th scope="row">Correo</th>
        <td>{{musico.correo}}</td>
      </tr>
  	  <tr>
        <th scope="row">Sexo</th>
          <!-- No se debe hacer asi, pero es para mostrar un ejemplo -->
        <td>
          {% if musico.sexo == True%}
            Hombre
          {% else %}
            Mujer
          {% endif %}
        </td>
    	</tr>
  	  <tr>
        <th>Bandas</th>
        <td>{% for banda in musico.banda.all %}
			{{ banda.nombre }}, 
{% endfor %}</td>
      </tr>
	</table>
</details>

{% endfor %}

{% endblock %}
