{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
{{ artista.imagenPerfil.url }}
<img src="{{ artista.imagenPerfil.url }}"/>
<details>
    <summary>Usuario creado correctamente</summary>
    <table>
      <tr>
        <th scope="row">Nombre</th>
        <td>{{artista.nombre}}</td>
      </tr>
      <tr>
        <th scope="row">Seguidores</th>
        <td>{{seguidores}}</td>
      </tr>
      
       <tr>
        <th scope="row">Instrumentos</th>
        {% for instrumento in instrumentos %}
            <td>{{ instrumento.nombre }}</td>
        {% endfor %}
      </tr> 
      <tr>
        <th scope="row">Bandas</th>
        {% for b in integranteEn %}
            <td>{{ b.banda.nombre }}</td>
            <td>{{ b.ocupacion }}</td>
            <td>{{ b.fechaIngreso }}</td>
        {% endfor %}
      </tr>
      
	</table>
</details>


{% endblock %}
