{% extends "app/layout.html" %}

{% block sidebar %}
    {% if tipoUsuario == 1  %}
        {% include "app/sidebarartistapartial.html" %}
    {% elif tipoUsuario == 2 %}
        {% include "app/sidebarnormalpartial.html" %}
    {% endif%}
        
{% endblock %}


{% block content %}
{% load staticfiles %}
<div class="container">
        <div class="row">
            <div class="col l8 s12 columna-complemento-calendario grey lighten-4 card-panel" style="margin-top:30px">
                <div class="container">
                    <div class="row"><!-- empieza el cuerpo -->
                    
                        <div class="col l12 s12 center-align ">
                            <div class="circle avatar-perfil"><img src="{{usuario.imagenPerfil.url}}" alt="" style="height:150px;">
                            </div>
                            <h5 class="campo-editable center-align"> 
                            <form method="POST" data-target="nombre" largomaximo="20" class="inline">
                                {% csrf_token %}
                                <span class="no-hide dato">{{usuario.nombre|title}}</span> 
                                <input class="w60p hide"  type="text" name="dato" value="{{usuario.nombre}}" />
                                <a class="btn no-hide editar toggle color-principal hover-shadow">
                                    <i class="material-icons">&#xE254;</i>
                                </a> 
                                <a class="btn hide editar submit green hover-shadow tooltipped" data-tooltip="Guardar cambios">
                                    <i class="material-icons">&#xE5CA;</i>
                                </a>
                                <a class="btn hide editar red hover-shadow tooltipped toggle" data-tooltip="Cancelar cambios">
                                    <i class="material-icons">&#xE14C;</i>
                                </a>
                            </form>
                            </h5>
                    
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col s12">
                                    <div class="center-align">
                                        <div class="card-panel color-principal lighten-3">
                                            <div class="campo-editable">
                                                <form method="POST" data-target="descripcion" largomaximo = "25">
                                                    
                                                    <a class="btn no-hide editar toggle color-principal hover-shadow right">
                                                        <i class="material-icons">&#xE254;</i>
                                                    </a> 
                                                    <span class="no-hide dato">{{usuario.descripcion|linebreaksbr}}</span> 
                                                    <div class="input-field hide" style="width:calc(100% - 30px);">
                                                        <textarea name="dato" class="materialize-textarea cyan lighten-4" style="padding:0 15px;">{{usuario.descripcion}}</textarea>
                                                    </div>
                                                    <a class="btn hide editar toggle red hover-shadow tooltipped right cancelar" data-tooltip="Cancelar cambios">
                                                        <i class="material-icons">&#xE14C;</i>
                                                    </a>
                                                    <a class="btn hide editar submit green hover-shadow tooltipped right" data-tooltip="Guardar cambios"  style="margin-right:5px;">
                                                        <i class="material-icons">&#xE5CA;</i>
                                                    </a>
                                                    
                                                    <hr style="border:none;width:auto;height:0px;clear:both;"/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Artistas que sigo</h5>
                            <div class="horizontal-scroll">
                                {% for seguido in losquesigo %}
                                <a class="tooltipped" data-tooltip="{{seguido.nombre}}" href="/perfilArtistaNp/{{seguido.id}}"><img style="height:100px" src="{{seguido.imagenPerfil.url}}" /></a>
                                {% endfor %}
                                </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Bandas que sigo</h5>
                            <div class="horizontal-scroll">
                                {% for seguida in lasquesigo %}
                                <a class="tooltipped" data-tooltip="{{seguida.nombre}}" href="/perfilBandaNp/{{seguida.id}}"><img style="height:100px" src="{{seguida.imagenPerfil.url}}" /></a>
                                {% endfor %}
                                </div>

                        </div>
                    </div>
                </div>
            </div><!-- termina cuerpo -->
            <div class="col l4 columna-calendario s12 center-align" style="margin-top:30px">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 left-align"> 
                            <h5>Calendario de eventos</h5>
                        <!-- inicio calendario -->
                            <link rel="stylesheet" href="{% static 'app/scripts/Calendar_config/jquery-ui.css' %}">
                            <!--http://streaming.croop.cl/jquery-ui.css-->
                            <div id="datepicker" class=" z-depth-1">

                                <div class="over">
                                    <div class="eventdata">
                                        
                                    </div>
                                </div>
                            </div>
                        <!-- fin calendario -->
                            </div>
                        </div>
                    </div>
                                    
                    <div class="container">
                        <div class="row">
                            <div class="col s12 center-align"> 
                            
                                <ul class="collection with-header  z-depth-1">
                                    <li class="collection-header grey lighten-3 left-align">
                                        <h5>Notificaciones</h5>
                                    </li>
                                    <li class="collection-item">
                                        <div class="grey-text text-darken-2 left-align">
                                            <b>Title<br></b>
                                        </div>
                                        Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                    </li>
                                    <li class="collection-item">
                                        <div class="grey-text text-darken-2 left-align">
                                            <b>Title<br></b>
                                        </div>
                                        Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                    </li>
                                    <li class="collection-item">
                                        <div class="grey-text text-darken-2 left-align">
                                            <b>Title<br></b>
                                        </div>
                                        Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                    </li>
                                    <li class="collection-item">
                                        <div class="grey-text text-darken-2 left-align">
                                            <b>Title<br></b>
                                        </div>
                                        Bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ACA TERMINA LO NUEVO, BY XIXAR -->
        <div id="modal1" class="modal grey lighten-3 grey-text text-darken-3">
            <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col s4" >
                        <img class="responsive-img  z-depth-1" src="./Pagina Principal Artista - uMusic_files/evento_rock.jpg" >
                    </div>
                    <div class="col s8 ">
                        <div class="titulo-evento-modal"></div>
                        <div class="descripcion-evento-modal"></div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer color-principal ">
                <a href="#!" class=" white-text  modal-action modal-close waves-effect waves-green btn-flat"><b>Aceptar</b></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% load staticfiles %}
	<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        });
    });
    </script>
	<script src="{% static 'app/scripts/materialize.min.js' %}"></script>
	<script src="{% static 'app/scripts/script.js' %}"></script>
    <script src="{% static 'app/scripts/editarnormal.js' %}"></script>
    <!-- inicio calendario JS-->
    <!--script src="Calendar_config/jquery.min.js"></script-->
    <!--http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js-->
    <script src="{% static 'app/scripts/Calendar_config/jquery-ui.min.js' %}"></script>
    <!--http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js-->
    <script src="{% static 'app/scripts/Calendar_config/config_calendar.js' %}"></script>

    <!-- fin calendario JS -->
{% endblock %}