{% extends "app/layout.html" %}

{% block sidebar %}
    {% if tipoUsuario == 1  %}
        {% include "app/sidebarartistapartial.html" %}
    {% elif tipoUsuario == 2 %}
        {% include "app/sidebarnormalpartial.html" %}
    {% endif%}
{% endblock %}

{% block content %}

<div class="container sfull" id-banda="{{ idBanda }}">
<div class="row" >
    
    <div class="col s12">
        <div class="card white">
            <div class="foto-portada" style="background:url({{banda.imagenPortada.url}});" >
            </div>
            <div class="container center-align">
                <div class="row">
                    <div class="col s12 ">
                        <div class="inline blue z-depth-1"><img src="{{banda.imagenPerfil.url}}" alt="" 
                style="width:100px;height:100px;border:solid 1px #444;margin-top:-50px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 "><h5 >{{ banda.nombre }}<h6>{{ banda.genero.nombre }}</h6></h5></div>
                </div>
                <div class="row">
                    <div class="col l6 s12 ">
                        <div class="container sfull">
                            <div class="row">   
                                <div class="col s12 left-align"><span >{{banda.biografia}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col offset-s2 s8 card-panel color-principal" style="padding:15px"><b> {{ seguidores }} Seguidor{%if seguidores != 1%}es{% endif%}</b></div>
                            </div>
                            <div class="row">
                                <div class="col s12" >
                                    <!--caracteristica no implementada debido a que esmanejada por usuarios normales-->
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons grey-text" style="font-size:28px">grade</i>
                                </div>
                            </div>
                            <div class="row">
                                <a class="col hover-shadow s5 card-panel color-principal white-text" style="padding:10px">Enviar Mensaje</a>
                                <a class="col hover-shadow s5 offset-s2 card-panel color-principal white-text"  onclick="Materialize.toast('Solicitud enviada, espere respuesta.', 4000)" style="padding:10px">Solicitar Ingreso</a>
                                <a class="col hover-shadow s5 card-panel color-principal white-text modal-trigger" href="#modalReport" style="padding:10px">Reportar Mala Conducta</a>
                                <!--a class="col  s5 offset-s2 card-panel color-principal white-text" style="padding:10px">Enviar Mensaje</a-->
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Discografia</h5>
                                    <ul class="collection">
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col l6 s12 ">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 ">
                                    <a class="twitter-timeline" href="https://twitter.com/Crunchyroll" data-widget-id="634820916141289472" data-screen-name="{{banda.cuentaTwitter}}"></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Integrantes</h5>
                                    <ul class="collection">
                                        {% for integrante in integrantes %}
                                       <a  href="/perfilArtistaNp/{{integrante.integrante.id}}">
                                        <li class="collection-item valign-wrapper">
                                            <div class="circle avatar-perfil"style="height:50px;width:50px" ><img src="{{integrante.integrante.imagenPerfil.url}}" alt=""style="height:50px;"></div>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">{{integrante.integrante.nombre}}</span>
                                            <span class="secondary-content">{{integrante.ocupacion}}</span>
                                        </li>
                                        </a>
                                        {% endfor %}
                                      </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Material</h5>
                                    <ul class="collection">
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>


<!-- Modal Structure -->
  <div id="modalReport" class="modal ">
    <div class="modal-content">
      <h4>Reportar Mala conducta</h4>
      <p>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Red</label>
    </p>
    <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Yellow</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Green</label>
    </p>
    <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="Materialize.toast('Su caso será revisado por un administrador.', 4000);$('#modalReport').closeModal();"  >Aceptar</a>
      <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="$('#modalReport').closeModal();"  >Cancelar</a>
    </div>
  </div>


{% endblock %}
{% block scripts %}


<script type="text/javascript">$('.modal-trigger').leanModal();</script>

{% endblock %}