{% extends "app/layout.html" %}

{% block content %}

{{banda.cuentaTwitter}}
<div class="container" id-banda="{{ idBanda }}">
<div class="row" >
    
    <div class="col s12">
        <div class="card white">
            <div class="foto-portada" style="background:url({{banda.imagenPerfil.url}}) ;" >
            </div>
            <div class="container center-align">
                <div class="row">
                    <div class="col s12 ">
                        <div class="inline blue"><img src="{{banda.imagenPerfil.url}}" alt="" 
                style="width:100px;height:100px;border:solid 1px #444;margin-top:-50px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 "><h5 >{{ banda.nombre }}<h6>{{ banda.genero.nombre }}</h6></h5></div>
                </div>
                <div class="row">
                    <div class="col l6 s12 ">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 left-align"><span >{{banda.biografia}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col offset-s2 s8 card-panel color-principal" style="padding:15px"> {{ seguidores }} Seguidores</div>
                            </div>
                            <div class="row">
                                <div class="col s12" >
                                    <!--caracteristica no implementada debido a que esmanejada por usuarios normales-->
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons orange-text" style="font-size:28px">grade</i>
                                    <i class="material-icons grey-text" style="font-size:28px">grade</i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s5  card-panel color-principal" style="padding:15px">Enviar Mensaje</div>
                                <div class="col s5 offset-s2 card-panel color-principal" style="padding:15px">Solicitar Ingreso</div>
                                <div class="col s5  card-panel color-principal" style="padding:15px">Reportar Mala Conducta</div>
                                <!--div class="col s5 offset-s2 card-panel color-principal" style="padding:15px">Enviar Mensaje</div-->
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Discografia</h5>
                                    <ul class="collection">
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col l6 s12 ">
                        <div class="container">
                            <div class="row">
                                <div class="col s12 ">
                                    <a class="twitter-timeline" href="https://twitter.com/Crunchyroll" data-widget-id="634820916141289472" data-screen-name="{{banda.cuentaTwitter}}"></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Integrantes</h5>
                                    <ul class="collection">
                                        {% for integrante in integrantes %}
                                        <li class="collection-item valign-wrapper">
                                            <div class="circle avatar-perfil"style="height:50px;width:50px" ><img src="{{integrante.integrante.imagenPerfil.url}}" alt=""style="height:50px;"></div>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">{{integrante.integrante.nombre}}</span>
                                            <span class="secondary-content">{{integrante.ocupacion}}</span>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Material</h5>
                                    <ul class="collection">
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                        <li class="collection-item valign-wrapper">
                                            <i class="material-icons blue white-text" style="padding:8px;">folder</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Disco</span>
                                            <span class="secondary-content">3333</span>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>


{% endblock %}