{% extends "app/layout.html" %}

{% block sidebar %}
    {% if tipoUsuario == 1  %}
        {% include "app/sidebarartistapartial.html" %}
    {% elif tipoUsuario == 2 %}
        {% include "app/sidebarnormalpartial.html" %}
    {% endif%}
{% endblock %}
{% block content %}

<div class="container sfull" id-banda="{{ banda.id }}">
<div class="row" >
    
    <div class="col s12">
        <div class="card white">
            <div>
            <div class="foto-portada" id="portada" data-src="{{banda.imagenPortada.url}}" style="background:url({{banda.imagenPortada.url}});" >
                </div>
                <button class="btn fileChange ajax-file green" style="display:none"><i class="material-icons">&#xE5CA;</i></button>
                <button class="btn fileChange cancel red" style="display:none"><i class="material-icons">&#xE14C;</i></button>
                {%if esLider%}
                <button class="btn fileChange ajax-file-selection color-principal" ><i class="material-icons">&#xE254;</i></button>
                {%endif%}
                <form class="file-form" preview="portada" method="POST" enctype="multipart/form-data" action="/upload"  target="bandaPortada">
                    <input name="image" type="file" accept="image/*" style="height:0;width:0;overflow:hidden;">
                </form>
            </div>
            
            <div class="container center-align">
                <div class="row">
                    <div class="col s12 ">
                        <div id = "imagenPerfil" class="inline blue z-depth-1"><img id="preview" src="{{banda.imagenPerfil.url}}" data-src="{{banda.imagenPerfil.url}}" alt="" 
                style="width:100px;height:100px;border:solid 1px #444;margin-top:-150px;"></div>
                    <div style="margin-top:-30px">
                <button class="btn fileChange ajax-file green" style="display:none"><i class="material-icons">&#xE5CA;</i></button>
                <button class="btn fileChange cancel red" style="display:none"><i class="material-icons">&#xE14C;</i></button>
                {%if esLider%}
                <button class="btn fileChange ajax-file-selection color-principal" ><i class="material-icons">&#xE254;</i></button>
                {%endif%}
                <form class="file-form" preview="preview" method="POST" enctype="multipart/form-data" action="/upload"  target="banda">
                    
                    <input name="image" type="file" accept="image/*" style="height:0;width:0;overflow:hidden;">
                </form>
            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ">
                        {%if esLider%}
                        <h5 class="campo-editable center-align"> 
                            <form method="POST" data-target="nombre" largomaximo="20" class="inline" >
                                
                                <span class="no-hide dato">{{banda.nombre}}</span> 
                                <input class="w60p hide"  type="text" name="dato" value="{{banda.nombre}}" />
                                <a class="btn no-hide editar toggle color-principal hover-shadow">
                                    <i class="material-icons">&#xE254;</i>
                                </a> 
                                <a class="btn hide editar submit green hover-shadow tooltipped" data-tooltip="Guardar cambios">
                                    <i class="material-icons">&#xE5CA;</i>
                                </a>
                                <a class="btn hide editar red hover-shadow tooltipped toggle" data-tooltip="Cancelar cambios" >
                                    <i class="material-icons">&#xE14C;</i>
                                </a>
                            </form>
                        {%else%}
                        <h5>{{banda.nombre}}
                        {%endif%}
                        </h5>
                        {%if esLider%}
                        <h6 class="campo-editable center-align"> 
                            <form method="POST" data-target="genero" largomaximo="20" class="inline" >
                                <span class="no-hide dato">{{banda.genero.nombre}}</span> 
                                {#<input class="w60p hide"  type="text" name="dato" value="{{banda.genero.nombre}}" />#}
                                <div class="input-field col s12">
                                    <select class="w60p inline browser-default hide  " name="dato" id="dato" >
                                        {% for g in generos %}
                                        <option value="{{g.id}}" {%if banda.genero == g %}selected{%endif%}  >{{g.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a class="btn no-hide editar toggle color-principal hover-shadow">
                                    <i class="material-icons">&#xE254;</i>
                                </a> 
                                <a class="btn hide editar submit green hover-shadow tooltipped" data-tooltip="Guardar cambios">
                                    <i class="material-icons">&#xE5CA;</i>
                                </a>
                                <a class="btn hide editar red hover-shadow tooltipped toggle" data-tooltip="Cancelar cambios" >
                                    <i class="material-icons">&#xE14C;</i>
                                </a>
                            </form>
                        {%else%}
                        <h6>{{ banda.genero.nombre }}
                        {%endif%}
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 s12 ">
                        <div class="container sfull" id="containerGeneral">
                            <div class="row"> 
                                
                                <div class="card-panel color-principal lighten-3">
                                    <div class="campo-editable">
                                        <form method="POST" data-target="biografia" largomaximo = "25">
                                            {%if esLider%}
                                            <a class="btn no-hide editar toggle color-principal hover-shadow right">
                                                <i class="material-icons">&#xE254;</i>
                                            </a> 
                                            {%endif%}
                                            <span class="no-hide dato">{{banda.biografia|linebreaksbr}}</span> 
                                            <div class="input-field hide" style="width:calc(100% - 30px);">
                                                <textarea name="dato" class="materialize-textarea cyan lighten-4" style="padding:0 15px;">{{banda.biografia}}</textarea>
                                            </div>
                                            <a class="btn hide editar toggle red hover-shadow tooltipped right cancelar" data-tooltip="Cancelar cambios">
                                                <i class="material-icons">&#xE14C;</i>
                                            </a>
                                            <a class="btn hide editar submit green hover-shadow tooltipped right" data-tooltip="Guardar cambios"  style="margin-right:5px;">
                                                <i class="material-icons">&#xE5CA;</i>
                                            </a>
                                            <hr style="border:none;width:auto;height:0px;clear:both;"/>
                                        </form>
                                    </div>
                                </div>  

                            </div>
                            <div class="row">
                                <div class="col offset-s2 s8 card-panel color-principal" style="padding:15px"><b> {{ seguidores }} Seguidor{%if seguidores != 1%}es{% endif%}</b></div>
                            </div>
                            <div class="row">
                                <div class="col s12 grade-container" data-grade="4"  >
                                    
                                    {#caracteristica no implementada debido a que esmanejada por usuarios normales#}
                                    <i class="material-icons manito inline grade orange-text"  style="font-size:28px;margin:-3px;padding:3px;">grade</i>
                                    <i class="material-icons manito inline grade orange-text"  style="font-size:28px;margin:-3px;padding:3px;">grade</i>
                                    <i class="material-icons manito inline grade orange-text"  style="font-size:28px;margin:-3px;padding:3px;">grade</i>
                                    <i class="material-icons manito inline grade orange-text"  style="font-size:28px;margin:-3px;padding:3px;">grade</i>
                                    <i class="material-icons manito inline grade grey-text"  style="font-size:28px;margin:-3px;padding:3px;">grade</i>
                                </div>
                            </div>
                            <div class="row">
                                <a class="col manito no-select hover-shadow s5 card-panel red white-text" onclick="dejarBanda({{artista.id}})" style="padding:10px">Dejar la banda</a>
                            </div>  
                            

                            
                            
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Discografia</h5>
                                    <ul class="collection">
                                        {% for disco in discos %}
                                        <li id="dis{{disco.id}}" class="collection-item disco valign-wrapper manito"  data-dId="{{disco.id}}">
                                            <input name ="dato" hidden="true" value="{{ banda.id }}"></input>  
                                            <i class="material-icons orange darken-3 white-text" style="padding:3px;font-size:40px">&#xE019;</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">{{disco.nombre}}</span>
                                            <span class="secondary-content stext cyan-text text-darken-4">{{disco.lanzamiento.year}}</span>
                                            <span class="right white red-text text-darken-2 valign-wrapper tooltipped" data-position="right" data-tooltip="quitar Disco" style="height:46px" onclick="removeDisco({{disco.id}})"><i class="material-icons">remove_circle</i></span> 
                                        </li>
                                        {% endfor %}
                                        <li class="collection-item add-disco hover-grey valign-wrapper manito ">
                                            <i class="material-icons blue darken-3 white-text" style="padding:3px;font-size:40px">&#xE147;</i>
                                            <span class="truncate" style="margin-left:20px;width:calc(100% - 50px);">Agregar Disco</span>
                                            {#<span class="secondary-content stext cyan-text text-darken-4">{disco.lanzamiento.year}</span>#}
                                        </li>

                                      </ul>
                                </div>
                            </div>
                            {%if solicitantes|length > 0  %}
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Solicitantes</h5>
                                    <ul id="solicitarBanda" class="collection">
                                        {% for solicitud in solicitantes %}
                                        <li class="collection-item valign-wrapper" >
                                          <form method="POST" class="valign-wrapper" data-target="aceptarSolicitud" style="width:100%" >
                                            <a class="valign-wrapper" href="/perfilArtistaNp/{{solicitud.artista.id}}" style="width:calc(100% - 40px)">
                                            <div class="circle avatar-perfil small" style="background: url({{solicitud.artista.imagenPerfil.url}}); " ></div>
                                            <div class="truncate" style="margin-left:20px;"><span >{{solicitud.artista.nombre}}</span>
                                            <br><span class="grey-text ">{{solicitud.ocupacion}}</span>
                                            </div>
                                            </a>
                                            <div class="inline" style="width:45px">
                                            {%if esLider%}
                                                {%if solicitud.direccion%}
                                                    <a class="btn green solicitud tooltipped" data-tooltip="Aceptar" data-position="right" onclick="document.getElementById('accion').setAttribute('value', 'aceptar')" style="padding:0 8px;margin-bottom:10px;"><i class="material-icons">&#xE5CA;</i></a>
                                                    <a class="btn red solicitud tooltipped" data-tooltip="Rechazar" data-position="right" onclick="document.getElementById('accion').setAttribute('value', 'rechazar')" style="padding:0 8px"><i class="material-icons">&#xE14C;</i></a>
                                                {%else%}
                                                    <a class="btn red solicitud tooltipped" data-tooltip="Cancelar solicitud" data-position="right" onclick="document.getElementById('accion').setAttribute('value', 'rechazar')" style="padding:0 8px"><i class="material-icons">&#xE14C;</i></a>
                                                {%endif%}  
                                                
                                            {%endif%}
                                            </div>
                                            <input name ="dato" hidden="true" value="{{ solicitud.id }}"></input>
                                            <input id="accion" name ="olddato" hidden="true" value="aceptar"></input>
                                            
                                        </form>
                                        </li>
                                        {% endfor %}
                                      </ul>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col l6 s12 ">
                        <div class="container">
                            <div class="row">
                                {%if esLider%}
                                <div class="twiter card-panel white-text campo-editable" style="background:#5faad8;text-shadow: 0 1px 2px rgba(0,0,0,.2);font-size: 18px;">
                                    <form method="POST" data-target="cuentaTwitter" largomaximo="40">
                                        
                                        <span>Cuenta de twitter : </span>
                                        {%if banda.cuentaTwitter %}
                                            <span class="no-hide dato">{{banda.cuentaTwitter}}</span>
                                            <br class="hide"/>
                                            <input class=" hide  light-blue lighten-4 grey-text text-darken-4" style="width:calc(60% - 40px); padding:0 10px;" type="text" name="dato" value="{{banda.cuentaTwitter}}" /> 
                                        {%else%}
                                            <span class="no-hide dato">Sin Cuenta</span>
                                            <br class="hide"/>
                                            <input class="hide  light-blue lighten-4 grey-text text-darken-4" style="width:calc(60% - 40px); padding:0 10px;" type="text" name="dato" /> 
                                        {%endif%}
                                        <a class="btn no-hide editar toggle color-principal hover-shadow">
                                            <i class="material-icons">&#xE254;</i>
                                        </a> 
                                        <a class="btn hide editar submit green hover-shadow tooltipped" data-tooltip="Guardar cambios">
                                            <i class="material-icons">&#xE5CA;</i>
                                        </a>
                                        <a class="btn hide editar toggle red hover-shadow tooltipped cancelar" data-tooltip="Cancelar cambios">
                                            <i class="material-icons">&#xE14C;</i>
                                        </a>
                                    </form>
                                </div>
                                {%endif%}
                                <div class="col s12 twitter-container">
                                    <a class="twitter-timeline" href="https://twitter.com/Crunchyroll" data-widget-id="634820916141289472" data-screen-name="{{banda.cuentaTwitter}}"></a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 left-align">
                                    <div class = "">
                                        
                                          <h5>Integrantes</h5>
                                        </div>
                                    <div id="integrante" class="collection">
                                        {% for integrante in integrantes %}
                                        <li id="int{{integrante.integrante.id}}" class="collection-item valign-wrapper">
                                            <a class="valign-wrapper" href="/perfilArtistaNp/{{integrante.integrante.id}}" style="width:calc(100% - 40px)">
                                                <div class="circle avatar-perfil small" style="background: url({{integrante.integrante.imagenPerfil.url}}); " ></div>
                                                <div class="" style="margin-left:20px;"><span >{{integrante.integrante.nombre}}</span>
                                                <br><span class="grey-text ">{%if integrante.esLider  %}<i class="material-icons yellow-text text-darken-3" style="font-size: 15px">&#xE838;</i>{% endif %}{{integrante.ocupacion}}</span></div>    
                                            </a>
                                        {%if esLider and not integrante.esLider %}
                                            
                                            <a class="btn red tooltipped" data-tooltip="Opciones" data-position="right" onclick="expulsar({{integrante.integrante.id}})" style="padding:0 8px"><i class="material-icons">&#xE14C;</i></a>
                                     <a class="waves-effect waves-light btn modal-trigger" href="#modalOpciones">+</a>
                                        {%endif%}
                                        </li>
                                        {% endfor %}
                                        {%if esLider%}
                                        <li class="collection-item valign-wrapper manito hover-grey no-select modal-trigger" href="#modalArtista">
                                                <div class="inline" style="margin:0"><i class="material-icons blue lighten-2 white-text " style="padding:8px;">&#xE7F0;</i></div>
                                                <div class="inline grey-text text-darken-3">Invitar Artista<br><span class="truncate grey-text stext text-darken-1">Modal de busqueda de artistas para invitarlos a tu banda</span></div>
                                        </li>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col s12 left-align">
                                    <h5>Material</h5> 
                                    <ul class="collection materiales">
                                    {%if material|length > 0%}
                                    {% for m in material %}
                                        <li id="mat{{m.id}}" class=" collection-item manito">
                                            <span class="right white red-text text-darken-2 valign-wrapper tooltipped" data-position="right" data-tooltip="quitar material" style="height:46px" onclick="removeMaterial({{m.id}})"><i class="material-icons">remove_circle</i></span>
                                            <a class="valign-wrapper tooltipped" href="{{m.enlace}}" data-tooltip="ir al enlace" target="_blank">
                                                <div class="inline" style="margin:0"><i class="material-icons {{m.color}} white-text " style="padding:8px;">{{m.tipo}}</i></div>
                                                <div class="inline">{{m.nombre|title}}<br><span class="truncate grey-text stext">{{m.descripcion}}</span></div>
                                            </a>
                                            
                                        </li>
                                    {% endfor %}
                                    {%else%}
                                        <li class="collection-item valign-wrapper no-hay-material no-select pointer">
                                                <div class="inline" style="margin:0"><i class="material-icons grey lighten-1 white-text " style="padding:8px;">link</i></div>
                                                <div class="inline grey-text text-darken-2">No hay Material<br><span class="truncate grey-text stext">La banda aún no adjunta material</span></div>
                                                {#<span class="secondary-content">{algo pondré}</span>#}
                                            
                                        </li>
                                    {%endif%}
                                        <li class="add-material collection-item valign-wrapper manito hover-grey no-select modal-trigger" href="#modalMaterial">
                                                <div class="inline" style="margin:0"><i class="material-icons blue darken-2 white-text " style="padding:8px;">&#xE2C6;</i></div>
                                                <div class="inline grey-text text-darken-3">Agregar material<br><span class="truncate grey-text stext text-darken-1">Adjunta material para que todos puedan verla</span></div>
                                        </li>
                                    </ul>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
<!-- Modal Artista   --> 

<div id="modalArtista" class="modal " style=" height: 100%;">
    <form method="POST" data-target="solicitarBanda" largomaximo="25" autocomplete="off" >
    <div class="modal-content">
        <h4>Agregar usuario</h4>
            <div class="divider color-principal" style="margin-bottom:30px"></div>
                <div class="col s12 l9  campo-editable">
                    {% csrf_token %}
                    <div id="seleccionado"></div>
                    <div class="input-field col-md-10">
                    <i class="material-icons prefix">&#xE8B6;</i>{#search icon#}
                    <input name="search" id="seach" type="text" class="validate">
                    <label for="seach" class="active">Buscar</label>
                        
                    </div>
                    <div class="collection result-list" style="cursor:pointer;overflow-y: scroll;width: 50px; max-height: 50%; overflow-x:hidden; z-index: 1000;position: absolute; ">
                    </div>
                    <div class="input-field col-md-10">
                    <input name="dato" id="ocupacion" type="text" class="validate">
                    <label for="ocupacion" class="active">Ocupacion</label>
                    </div>
            </div>
     </div>
      <div class="modal-footer">
      <a class=" modal-action waves-effect waves-green btn-flat solicitud"  >Aceptar</a>
      <a class=" modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</a>
    </div>
    
    </form>
</div>


<!-- Modal Structure -->
<div id="modalMaterial" class="modal ">
    <div class="modal-content">
        <h4>Agregar material</h4>
        
        <div class="divider"></div>
        <form id="addMaterial" method="POST" action="/agregarMaterial" data-target="nombre">
            
            <h5 class="grey-text">Opciones del cuadro</h5>
            <div>
                
                <label>Icono</label>
                <ul class="select inline">
                    <li class="cabezaSelect"><i class="material-icons">remove</i></li>
                </ul>
                <input class="inIcon" name="icon"  type="hidden" /> 
                <div class="selector" >
                    <div>
                        <ul>
                            <li><i class="material-icons">explore</i></li>
                            <li><i class="material-icons">play_arrow</i></li>
                            <li><i class="material-icons">announcement</i></li>
                            <li><i class="material-icons">book</i></li>
                            <li><i class="material-icons">description</i> </li>
                            <li><i class="material-icons">favorite</i> </li>
                            <li><i class="material-icons">input</i> </li>
                            <li><i class="material-icons">info</i> </li>
                            <li><i class="material-icons">label</i> </li>
                            <li><i class="material-icons">language</i> </li>
                            <li><i class="material-icons">room</i> </li>
                            <li><i class="material-icons">receipt</i> </li>
                            <li><i class="material-icons">shop</i> </li>
                            <li><i class="material-icons">visibility</i> </li>
                            <li><i class="material-icons">work</i> </li>
                            <li><i class="material-icons">equalizer</i> </li>
                            <li><i class="material-icons">library_music</i> </li>
                            <li><i class="material-icons">mic</i> </li>
                            <li><i class="material-icons">movie</i> </li>
                            <li><i class="material-icons">new_releases</i> </li>
                            <li><i class="material-icons">radio</i> </li>
                            <li><i class="material-icons">volume_up</i> </li>
                            <li><i class="material-icons">web</i> </li>
                            <li><i class="material-icons">drafts</i> </li>
                            <li><i class="material-icons">link</i> </li>
                            <li><i class="material-icons">devices</i> </li>
                            <li><i class="material-icons">usb</i> </li>
                            <li><i class="material-icons">widgets</i> </li>
                            <li><i class="material-icons">attach_file</i> </li>
                            <li><i class="material-icons">insert_drive_file</i> </li>
                            <li><i class="material-icons">cloud_circle</i> </li>
                            <li><i class="material-icons">gamepad</i> </li>
                            <li><i class="material-icons">camera_alt</i> </li>
                        </ul>
                    </div>
                </div>
                <div class="color-selector inline">
                    <input type="hidden" name="color">
                    <div class="piker z-depth-1 hide">
                        <a class="color red" data-option="red" ></a>
                        <a class="color blue darken-2" data-option="blue darken-2" ></a>
                        <a class="color green darken-2" data-option="green darken-2" ></a>
                        <a class="color orange darken-2" data-option="orange darken-2" ></a>
                        <a class="color yellow darken-3" data-option="yellow darken-3" ></a>
                        <a class="color pink darken-4" data-option="pink darken-4" ></a>
                        <a class="color purple darken-4" data-option="purple darken-4" ></a>
                        <a class="color cyan accent-4" data-option="cyan accent-4" ></a>
                        <a class="color brown darken-4" data-option="brown darken-4" ></a>
                    </div>
                    <label>color</label>
                    <ul class="trigger white-text inline">
                        <li><i class="material-icons">palette</i></li>
                    </ul>
                    
                </div>
                <div class="input-field col l6 s12" style="max-width:450px" >
                    <input class="validate" type="text" id="nombre" name='nombre' maxlength="30" required>
                    <label for="descripcion">Nombre</label>
                </div>
            </div>
            <div class="container" style="margin-left:-30px"><div class="row">
                <div class="input-field  col l6 s12" >
                    <i class="material-icons prefix">link</i>
                    <input class="validate" type="text" id="enlace" style="max-width:450px" name='enlace' required>
                    <label for="enlace">Enlace</label>
                </div>
                
                <div class="input-field col l6 s12" >
                    <i class="material-icons prefix">format_quote</i>
                    <input class="validate" type="text" id="descripcion" style="max-width:450px" name='desc' maxlength="60" required>
                    <label for="descripcion">Descripción</label>
                </div>
            </div></div>
        </form>
    </div>
    <div class="modal-footer">
      <a class=" modal-action waves-effect waves-green btn-flat" onclick="$('#addMaterial').submit();"  >Aceptar</a>
      <a class=" modal-action modal-close waves-effect waves-green btn-flat" >Cancelar</a>
    </div>
  </div>
  <div id="modalDisco" class="modal modal-fixed-footer"">
    <div class="modal-content" style="background:url( '/media/app/static/app/images/discbg.jpg');background-size:100%;;height: 100%;">
        
    </div>
    <div class="modal-footer color-principal" >
      <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="$('#modalDisco').closeModal();"  >Salir</a>
    </div>
  </div>
  
 
  <div id="modalOpciones" class="modal">
    <div class="modal-content">
      <h4>Opciones</h4>
        <a class="valign-wrapper" href="/perfilArtistaNp/12" style="width:calc(100% - 40px)">
            <div class="circle avatar-perfil small" style="background: url(/media/pic_folder/None/no-img.jpg); " ></div>
            <div class="" style="margin-left:20px;"><span >Nombre:pepe</span></div>    
        </a>

        <h5 class="campo-editable"> 
            <form method="POST" data-target="nombre" largomaximo="20" class="inline" >
                <span class="no-hide dato">Ocupación</span> 
                <input class="w60p hide"  type="text" name="dato" value="{{banda.nombre}}" />
                <a class="btn no-hide editar toggle color-principal hover-shadow">
                    <i class="material-icons">&#xE254;</i>
                </a> 
                <a class="btn hide editar submit green hover-shadow tooltipped" data-tooltip="Guardar cambios">
                    <i class="material-icons">&#xE5CA;</i>
                </a>
                <a class="btn hide editar red hover-shadow tooltipped toggle" data-tooltip="Cancelar cambios" >
                    <i class="material-icons">&#xE14C;</i>
                </a>
            </form>       
        </h5>

		<form method="POST" data-target="disableacount">
            {% csrf_token %}
			<a class="btn no-hide editar toggle yellow darken-3 hover-shadow ">Ceder Lider</a> 
			<div class="input-field hide" style="width:calc(100% - 30px);">
			     <span class="grey-text text-darken-2">Para ceder el puesto de Lider necesitamos verificar tu contraseña</span>
			     <div class="input-field">
			         <input name="pass" id="pass" type="password" class="validate ">
			         <label for="pass">Contraseña</label>
			     </div>
			</div>
            
			<a class="btn hide editar submit desactivar right yellow darken-3 hover-shadow">Confirmar</a> 
            <hr class="hide" style="border:none;width:auto;height:0px;clear:both;">
            <a class="waves-effect waves-light btn red" onclick="expulsar({{integrante.integrante.id}})">Eliminar</a>
		 </form>          
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>


{% endblock %}
{% block scripts %}

{% load staticfiles %}

<script type="text/javascript">$('.modal-trigger').leanModal();</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#modalOpciones').openModal();
        // Para hacer scroll cada vez que cargo un perfil
        var container = $('body'),
                scrollTo = $('#imagenPerfil');
                container.animate({
            scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop() - 100
        });
      //fin color selector
    $('select').material_select();
    //{# solo para no lider #}
    $('.disco').click(function(){
       console.log("disco id:"+$(this).attr('data-dId'));
       $('#modalDisco').openModal();
       var modal = $('#modalDisco .modal-content')
       $.get("/infoDiscoE/"+$(this).attr('data-dId'),function(data){
            modal.html("")
            modal.html(data)
       }).fail(function() {
            console.error( "error" );
       });
       });
       $('.add-disco').click(function(){
            $('#modalDisco').openModal();
            var modal = $('#modalDisco .modal-content');
            $.get("/addDisco/"+$('.container.sfull').attr('id-banda'),function(data){
                modal.html("");
                modal.html(data);
            }).fail(function() {
                console.error( "error" );
            });
        });
    });
    
</script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        });
    });
    </script>
    <script src="{% static 'app/scripts/editarbandaint.js' %}"></script>
    <script src="{% static 'app/scripts/solicitudes.js' %}"></script>
	<script src="{% static 'app/scripts/artistasearch.js' %}"></script>
{% endblock %}