{% extends "app/login-layout.html" %}
{% block tabs %}
    <a style="color:#00bcd4;" href="/login"><div class="col s6 hover-underline">Iniciar Sesión</div></a>
    <div class="col s6" style="color:#00bcd4; border-bottom:4px solid #00bcd4 !important; ">Registrarse</div>
{% endblock %}
{% block formulario %}

<div id="signin" class="col s12" style="margin-top:30px">
    <form action="/registro" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-10 input-field">
                {{ form.name }}
                <label for="id_name" class="active">Nombre</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 input-field">
                {{ form.email }}
                <label for="email" class="active">Email</label>
            </div>
        </div>
{# Para editar el hint de los inputs, ir a forms.py en el cuerpo de la funcion estan los parametros#}
        <div class="form-group">
            <div class="input-field col-md-10">
                {{ form.password1 }}
                <label class="active" for="contras">Contraseña</label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-field col-md-10">
                {{ form.password2 }}
                <label class="active" for="contras2">Verifique su Contraseña</label>
            </div>
        </div>
        <div class="switch form-group">
            <label>
                Normal
                {{ form.tipo }}
                <span class="lever"></span>
                Artista
            </label>
        </div>
        <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Registrarse" style="margin-top:15px;" class="btn btn-default color-principal" />
           </div>
        </div>
        {% if form.errors %}
              <p class="validation-summary-errors">Los datos ingresados son incorrectos.</p>
        {% endif %}
    </form>
</div>
{% endblock %}