{% extends "app/layout.html" %}

{% block sidebar %}
    {% if tipoUsuario == 1  %}
        {% include "app/sidebarartistapartial.html" %}
    {% elif tipoUsuario == 2 %}
        {% include "app/sidebarnormalpartial.html" %}
    {% endif%}
{% endblock %}

{% block content %}

<div class="container">
        <div class="row">
            <div class="col s12 m12 l12"> 
                       
                            <h5>Amigos</h5>
                            <div style="overflow-y:scroll;max-height:485px;"> 
                            <ul class="collection">

                                <li class="collection-item avatar">
                                    <div class="circle avatar-img dropdown-button"><img src="./Pagina Principal Artista - uMusic_files/avatar.jpg" style="height:50px;"></div>
                                    <div class="col l3 s12">
                                         <br><span> Felipito CamiroaAAA </span>
                                    </div>
                                    <div class="col l2 s12"><br>
                                        <p class="center-align">15 Sep, 8:29 (2013)</p>
                                    </div>
                      
                                    <div class="col l7 s3"><br>
                                        <a class="waves-effect waves-light btn">Eliminar</a>
     
                                        <a class="waves-effect waves-light btn">Ver Perfil</a>

                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Mensaje</a>

                                    </div>  
                                </li>
                                
                            </ul>
                        </div>
                   
<div id="modal1" class="modal">
                                            <div class="modal-content">
                                                <div class="input-field" style=" width:calc(100% - 110px);height:calc(100% - 1000px);margin-left:10px;">
                                                    <input id="last_name" type="text" class="validate">
                                                    <label for="last_name">Para: Nombre</label>
                                                </div>
                                            </div>

                                        <div class="modal-footer valign-wrapper" style="height:150px">
                                            

                                           <div style="overflow-y:scroll;max-height:120px;width:calc(100% - 146px);margin-left:30px;"> 
                                                
                                                <div class="input-field">
                                                    <textarea id="textarea1" class="materialize-textarea" ></textarea>
                                                    <label for="textarea1">Mensaje</label>
                                                </div>

                                            </div>
                                                
                                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Enviar</a>

                                        </div>

                                    </div>
                        
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}


    <script src="% static 'app/scripts/jquery-1.10.2.js"></script>
    <script src="% static 'app/scripts/materialize.min.js"></script>
    <script src="% static 'app/scripts/respond.js"></script>
	<script src="% static 'app/scripts/script.js"></script>
    <script src="% static 'app/scripts/pop_up_MensajesUA.js"></script>
    <!-- inicio calendario JS-->
    <!--script src="Calendar_config/jquery.min.js"></script-->
    <!--http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js-->
    <script src="% static 'app/scripts/Calendar_config/jquery-ui.min.js"></script>
    <!--http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js-->
    <script src="% static 'app/scripts/Calendar_config/config_calendar.js"></script>

{% endblock %}